@import url('//fonts.googleapis.com/css2?family=Inter');
body, html {
  margin: 0;
  font-family: "Inter", sans-serif !important;
}

.app {
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif !important;
}

.content{
  width: 100%;
}


