.inbox {
  font-size: 14px;
}

.inbox ul {
  list-style-type: none;
  padding: 0;
}

.header {
  padding: 0px 20px;
}

.mail-grid{
  border-top: 1px solid #E5E7EB;
}

.email-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  padding: 12px 20px;
  cursor: pointer;
}

.email-item:hover {
  display: flex !important;
  background-color: #d1e2ff !important;
}

.email-item.unread {
  background-color: #f3f6fb;
  font-weight: 500;
  color: #121829;
  display: flex;
  gap: 8px;
}

.email-item.read {
  background-color: #ffffff;
  color: #4b5563;
  display: flex;
  gap: 8px;
}

.email-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(76, 87, 100, 0.8);
  display: flex;
  justify-content: flex-end;
}

.email-detail {
  width: 750px;
  background: white;
  padding: 20px;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.email-detail h3 {
color: #121829;
}

.email-detail p {
color: #4B5563;
}

.close-btn {
  background: transparent;
  border: none;
  color: #4b5563;
  cursor: pointer;
}

.inbox li {
  display: flex;
  align-items: center;
}

.mail {
  display: flex;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
  background-color: transparent;
  color: #4b5563;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Inter", sans-serif !important;
}

.btns button:hover {
  background-color: #ebedf3;
}

.action-btns {
  display: flex;
  gap: 8px;
}

.select-all {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #4b5563;
}

.select-all input:checked + span {
  color: #121829;
  font-weight: 600;
}
