.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E5E7EB;
  }

  .logo{
    width: 100%;
    padding: 0px 0px 32px 0px;
  }

  .logout {
    margin-top: auto;
    font-size: 14px;
  }
  
  .sidebar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    Padding: 10px;
    border-radius: 100px;
    font-size: 16px;
    color: #4B5563;
    text-decoration: none;
  }

  .sidebar-item:hover {
    color: #121829;
  }
  
  .sidebar-item.active {
    background-color: #D6E2FB;
    font-weight: 500;
    color: #121829;
  }

  .sidebar-item svg path{
    stroke: #4B5563;
    /* filter: invert(32%) sepia(11%) saturate(653%) hue-rotate(176deg) brightness(100%) contrast(97%); */
  }

  .sidebar-item.active svg path{
    stroke: #121829;
    /* filter: invert(5%) sepia(88%) saturate(820%) hue-rotate(197deg) brightness(98%) contrast(93%); */
  }
  
  .count {
    background-color: #007bff;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 14px;
  }

  .inbox-tab{
    display: flex;
    align-items: center;
    gap: 8px;
  }  

  .archive-tab{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .logout-tab{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .logout-tab svg path{
    stroke: #4B5563;
    /* filter: invert(32%) sepia(11%) saturate(653%) hue-rotate(176deg) brightness(100%) contrast(97%);; */
  }